# Copy this file to standalone.env before running: docker compose -f standalone.yml up
# cp standalone.env.example standalone.env

INDEXER_STORAGE_PASSWORD=indexer
INDEXER_PUB_SUB_PASSWORD=indexer
INDEXER_LEDGER_PASSWORD=indexer
INDEXER_SECRET=303132333435363738393031323334353637383930313233343536373839303132
