# @midnight-ntwrk/counter-cli Test Results

> **Started**: Fri, 21 Mar 2025 10:03:04 GMT

<center>

|Suites (1)|Tests (0)|
|:-:|:-:|
|![](https://img.shields.io/badge/Passed-0-lightgrey) | ![](https://img.shields.io/badge/Passed-0-lightgrey)|
|![](https://img.shields.io/badge/Failed-1-red) | ![](https://img.shields.io/badge/Failed-0-lightgrey)|
|![](https://img.shields.io/badge/Pending-0-lightgrey) | ![](https://img.shields.io/badge/Pending-0-lightgrey)|

---

<table>
<thead>
<tr>
<th>counter.api.test.ts</th>
<th></th>
<th></th>
<th>0</th>
</tr>
</thead>
<tbody>
</tbody>
</table>
</center>