name: CI

# ↓ lock down top‐level permissions. Define all permissions at job level
permissions: {}

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  install-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read             # we only need to checkout code
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  #v6.0.1

      - name: Prefer Google mirror globally
        run: |
          echo '{"registry-mirrors":["https://mirror.gcr.io"]}' | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker

      - name: Setup Compact Compiler
        uses: midnightntwrk/setup-compact-action@836895c8fffbbea6bd986af2b17e8941ff29d1f8
        with:
          compact-version: '0.26.0'

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  #v6.2.0
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Compile and test contract
        working-directory: contract
        run: |
          npm run lint
          npm run compact
          npm run typecheck
          npm run build
          npm run test

      - name: Compile counter-cli
        working-directory: counter-cli
        run: |
          npm run lint
          npm run typecheck
          npm run build
          npm run test-api
